<div class="row">
    <div class="col-sm-8 m-b-xs">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group dropdown" role="group">
                    <button id="top-page-size-btn" type="button" class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>{{pageRequest?.size}}</strong> {{'list.toolbar.byPage' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="top-page-size-btn">
                        <li><a (click)="setPageSize(10)">10</a></li>
                        <li><a (click)="setPageSize(25)">25</a></li>
                        <li><a (click)="setPageSize(50)">50</a></li>
                        <li><a (click)="setPageSize(100)">100</a></li>
                    </ul>
                </div>
                <div class="btn-group dropdown" role="group">
                    <button id="top-sort-btn" type="button" class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'list.toolbar.sortBy' | translate}} <strong>{{pageRequest?.sortField}}</strong> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="top-sort-btn">
                        <li *ngFor="let field of fields;">
                            <a (click)="setSortField(field)">{{'list.toolbar.field.' + field | translate}}</a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-sm btn-white" [ngClass]="{active: pageRequest?.sortType=='ASC'}" (click)="setSortType('ASC')" role="button">{{'list.toolbar.sortASC' | translate}}</a>
                <a class="btn btn-sm btn-white" [ngClass]="{active: pageRequest?.sortType=='DESC'}" (click)="setSortType('DESC')" role="button">{{'list.toolbar.sortDESC' | translate}}</a>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button id="delete_button" type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{'list.toolbar.btnRemove' | translate}}
                    </button>
                    <div class="btn-group dropdown" role="group">
                        <button id="add_button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'list.toolbar.btnAdd' | translate}} <span class="lang-sm" lang="en"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/neutrino/admin/new/translation/?type=Template&amp;lg=en"><span class="lang-sm lang-lbl-full" lang="en"></span></a></li>
                            <li><a href="/neutrino/admin/new/translation/?type=Template&amp;lg=fr"><span class="lang-sm lang-lbl-full" lang="fr"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" placeholder="{{'list.toolbar.search' | translate}}" class="input-sm form-control" #inputVal [ngModel]="searchRequest?.expression"> 
            <span class="input-group-btn"> <button type="button" (click)="setSearchExpression(inputVal.value);" class="btn btn-sm btn-primary"> {{'list.toolbar.searchGo' | translate}}</button> </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 m-b-xs">
        <div class="btn-group">
            <ul class="pagination">
                <li class="paginate_button previous" [ngClass]="{disabled: pageRequest?.page == 0}"><a (click)="setPage(pageRequest.page - 1)">{{'list.toolbar.previous' | translate}}</a></li>
                
                <li *ngFor="let pageBtn of pageBtns;" [ngClass]="{active: pageRequest?.page == pageBtn, disabled: pageBtn == '...'}">
                    <a (click)="setPage(pageBtn)">{{pageBtn}}</a>
                </li>

                <li class="paginate_button next" [ngClass]="{disabled: pageRequest?.page >= totalPages}"><a (click)="setPage(pageRequest.page + 1)">{{'list.toolbar.next' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">

    </div>
</div>